@import "tailwindcss";



body {
  font-family: var(--font-inter);
}



footer {
  display: flex;
  align-items: center;
}

h6 {
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1.25em;
}

h2,
h3,
h4 {
  font-family: var(--font-work-sans);
}

h2 {
  font-size: 2.375rem;

}

input,
textarea {
  outline: none;
}


.range-custom {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

/* Track with fill */
.range-custom::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 999px;
  background: linear-gradient(to right,
      #DCA54A var(--value),
      #e5e5e5 var(--value));
}

/* Thumb */
.range-custom::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #DCA54A;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}

/* Firefox */
.range-custom::-moz-range-track {
  height: 6px;
  border-radius: 999px;
  background: linear-gradient(to right,
      #DCA54A var(--value),
      #e5e5e5 var(--value));
}

.range-custom::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #DCA54A;
  border-radius: 50%;
  cursor: pointer;
}